input[type="search"] {
  background: rgba(224, 237, 255, 0.849);
  border: none;
  border-radius: 24px;
  margin: 0 32px;
}

input[type="submit"] {
  color: #ffff;
}

li {
  list-style: none;
}

.weather-app {
  background: linear-gradient(to top, rgb(69, 120, 231), rgb(219, 237, 252));
  margin-top: 24px;
  border-radius: 8px;
  padding: 32px 24px;
}
.container {
  width: 50%;
  color: white;
}
.temp-now {
  font-size: large;
  font-weight: 700;
}
.btn {
  font-size: 14px;
  border-radius: 24px;
  background-color: #497be8;
  position: relative;
  top: -3px;
}
.weather-info {
  font-weight: 500;
  position: relative;
  top: 20px;
}
.five-days-forecast {
  border-top: 1px solid #ffffff !important;
  padding-top: 16px;
}
.weather-forecast-date {
  font-size: 20px;
  font-weight: 500;
}
.weather-forecast-temperature-max {
  font-size: 18px;
  position: relative;
  top: -2px;
}
.col-2 {
  text-align: center;
  margin: 0 auto;
}
.credit {
  color: #5d8bef;
  font-size: 12px;
}
.main-icon {
  width: 40%;
}
#search-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#city {
  padding: 24px 0 0 24px;
  font-weight: 700;
  font-size: 42px;
  text-shadow: #23506e;
}
#temperature {
  font-size: 40px;
}
#description {
  font-weight: 500;
}
#city-input {
  display: inline;
  width: 70%;
}
#icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
